<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCt612oYvoeFxkONKx9D_QGUuJ4mJlyIgM</string>
	<key>GCM_SENDER_ID</key>
	<string>517741374203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orderMaster.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ordermaster-e9818</string>
	<key>STORAGE_BUCKET</key>
	<string>ordermaster-e9818.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517741374203:ios:a6ca0e5f2b5af8087a5e5e</string>
</dict>
</plist>